* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
  }
  
 .title {
    color: white;
    font-size: 2.5rem;
    text-align: center;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 20em;
    gap: 1.5rem ;
  }
  
  .loginBtn,
  .signupBtn {

    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: gray 2px solid;
    border-radius: 10px;
    cursor: pointer;
justify-content: center;
align-content: flex-start;
font-weight: 800;

  }
  
  .loginBtn:hover,
  .signupBtn:hover {
    background-color: #f0f0f0;
  }